<%- include("../partials/head"); %>
<%- include("../partials/navbar_logged"); %>
<h1>Carritos POST</h1>
<div>
    <%= carrito.title %>
    <%= carrito.products.description %>
    <%= carrito.products.photo %>
    <%= carrito.products.name %>
    <%= carrito.products.price %>
</div>
<%- include("../partials/footer"); %>