<%- include("../partials/head"); %>

<!-- HEADER -->
<%- include("../partials/navbar"); %>
<!-- HEADER -->

<div id="profileUser" >
<h1>Profile User</h1>
<ul>
    <li>
        Username:
       <span>
         <%=user.username %> 
       </span>
    </li>
    <li>
        Password
       <span>
         <%=user.password %> 
       </span>
    </li>
    <li>
        Phone
       <span>
         <%=user.phone %> 
       </span>
    </li>
    <li>
       <span>
         <%=user.age %> 
       </span>
    </li>
    <li>
        Age
       <span>
         <%=user.adress %> 
       </span>
    </li>
    <li>
        Avatar
       <span>
         <%=user.avatar %> 
       </span>
    </li>
</ul>
</div>



<a href="/logout">Salir</a>


<!-- FOOTER -->
<%- include("../partials/footer"); %>
<!-- FOOTER -->
