<%- include("../partials/head"); %>
<%- include("../partials/navbar_logged"); %>

<a href="/logout">Salir</a>
      <ul>
        <li>
          Username:
          <span>
            <%=user.username %>
          </span>
        </li>
        <li>
          Password:
          <span>
            <%=user.password %>
          </span>
        </li>
        <li>
          Gmail:
          <span>
            <%=user.gmail %>
          </span>
        </li>
        <li>
          Phone:
          <span>
            <%=user.phone %>
          </span>
        </li>
        <li>
          Age:
          <span>
            <%=user.age %>
          </span>
        </li>
        <li>
          Adress:
          <span>
            <%=user.adress %>
          </span>
        </li>
        <li>
          Avatar:
          <span>
            <%=user.avatar %>
          </span>
        </li>
      </ul>
      <%- include("../partials/button_signout"); %>
    </div>


<%- include("../partials/footer"); %>
